* {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

#pagina {
    max-width: 940px;
    min-width: 720px;
    border: 4px double #757575;
    margin: 25px auto;
    background-color: #212121;
}

#logo {
    margin: 25px auto;
    text-align: center;
    background-color: #e0e0e0;
}

#logo > img {
    width: 200px;
    margin-top: 5px;
    border-left: 4px double #757575;
    border-right: 4px double #757575;
}

#menu ul {
    min-width: 150px;
    max-width: 600px;
    margin: 15px auto;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    border-top: 4px solid #757575;
    border-bottom: 3px solid #757575;
    text-align: center;
}

#menu li {
    display: inline;
    text-transform: uppercase;
    width: 100px;
}

#menu a {
    text-decoration: none;
    padding: 5px 18px 5px 18px;
    color: #0f0f0f;
}

#menu a:hover, a.home {
    color: #e0e0e0;
    background-color: #303030;
}

#content {
    margin: 15px auto 15px 0px;
    padding: 25px 0px 25px 0px;
    border-top: 4px solid #757575;
    border-bottom: 4px solid #757575;
    background-color: #e0e0e0;
    text-align: center;
}

#content > img {
    min-width: 150px;
    max-width: 718px;
}

#content > iframe {
    max-width: 920px;
    min-width: 150px;
}

#footer {
    max-width: 600px;
    min-width: 150px;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px auto;
}

#footer > footer {
    width: 600px;
    text-align: center;
}